@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
.flag-dropdown,
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus,
.react-tel-input .flag-dropdown.open .selected-flag {
  border: none !important;
  background: rgb(243 244 246 / 1) !important;
  border-radius: 1rem !important;
}
